.logo {
  margin: 2.5em auto;
  width: 100%;
}
.menu {
  font-size: 1em;
  margin: 2em 0;
}
.menu .jugarButton,
.menu .instruccionesButton {
  display: inline-block;
  margin: 1em;
}
.principal {
  margin: 0 0 3em 0;
  overflow: hidden;
}
.jugar,
.instrucciones {
  display: none;
}
.estrellasContainer {
  background: #ffee78;
}
.boletoContainer .confirmarBoleto {
  margin: 1.5em;
}
.boleto,
.estrellasContainer {
  border: 1px solid #f4511e;
  border-radius: 10px;
  margin: 0 1em;
  padding: 1em;
}
.boleto h3,
.estrellasContainer h3 {
  color: #f4511e;
  margin: 0 0 1em 0;
}
.numeros label,
.estrellasContainer label {
  display: inline-block;
  margin: 0.4em;
  width: 2em;
}
.numeros label input,
.estrellasContainer label input {
  display: none;
}
.numeros label input:checked + span,
.estrellasContainer label input:checked + span {
  background: #333;
  color: #fff;
}
.numeros label span,
.estrellasContainer label span {
  background: #fff;
  border: 1px solid #f4511e;
  border-radius: 3px;
  color: #f4511e;
  display: block;
  line-height: 2em;
}
.numeros label span:hover,
.estrellasContainer label span:hover {
  background: #e0e0e0;
}
.jugarEuromillon {
  display: none;
  margin: 1em 0;
  overflow: hidden;
}
.jugarEuromillon .tuCombinacion,
.jugarEuromillon .combinacionGanadora {
  float: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  width: 14em;
}
.jugarEuromillon .tuApuesta,
.jugarEuromillon .apuestaGanadora {
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  width: 9em;
}
.jugarEuromillon .tuApuesta {
  background: #40c4ff;
}
.jugarEuromillon .apuestaGanadora {
  background: #00e676;
}
.tablaPremios {
  overflow: hidden;
}
.tablaPremios tr:nth-child(1) {
  background: #546e7a;
  color: #fff;
}
.toggleButton {
  display: block;
  height: 100%;
}
.mensajeAciertos {
  background: #00e676;
  color: #fff;
  display: none;
  height: 4em;
  line-height: 4em;
  margin: auto auto 2em auto;
  width: 12em;
}
.reintentar {
  margin: 2em 0;
}
.acierto {
  -webkit-animation: filaAcertada 1s infinite alternate;
          animation: filaAcertada 1s infinite alternate;
  background: #00e676;
}
@-webkit-keyframes filaAcertada {
  0% {
    background: #00e676;
  }
  100% {
    background: #fff;
  }
}
@keyframes filaAcertada {
  0% {
    background: #00e676;
  }
  100% {
    background: #fff;
  }
}
