.custom-message{ overflow:hidden; width:100%; }
.m-b-20px{ margin-bottom: 20px; }
.pagination{ margin:0 0 20px 0; }
.pagination li{ cursor:pointer; }
.text-align-center{ text-align:center; }
.margin-zero{ margin:0; }
.overflow-hidden{ overflow:hidden; }
.margin-bottom-1em{ margin-bottom:1em; }
.m-r-1em{ margin-right:1em; }
